<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/Images/favicon.ico">
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Magic1311", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Support", "Index", "Support", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li>
                    @Html.ActionLink("Buy Apps", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                        <li>
                            @Html.ActionLink(User.Identity.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li>
                            @Html.ActionLink("Log Out", "LogOut", "User", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink("Register user", "Registration", "User", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                            @Html.ActionLink("Log In", "LogIn", "User", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serial Products<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Register new product", "RegisterProduct", "Registro", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Learn more about serial Productsk</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Google play<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("So i bought an app from the Google play store...", "Index", "Android", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    
    <center>
        <div id="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <center><img src="~/Content/Images/logo_ch.png" alt="" style="width:auto;height:auto;"></center>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </center>

    <div class="container body-content">
        <div id="renderBody">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Magic1311 games and magic</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>